#include <os2.h>
#include "main.h"

ICON ID_SPLITTEST main.ico


MENU ID_SPLITTEST
   {
   SUBMENU SZ_FILE, MI_FILE
      {
      MENUITEM SZ_NEW, MI_FILENEW
      MENUITEM SZ_OPEN, MI_FILEOPEN
      MENUITEM SEPARATOR
      MENUITEM SZ_SAVE, MI_FILESAVE
      MENUITEM SZ_SAVEAS, MI_FILESAVEAS
      MENUITEM SEPARATOR
      MENUITEM SZ_EXIT, SC_CLOSE, MIS_SYSCOMMAND
      }
   SUBMENU SZ_EDIT, MI_EDIT
      {
      MENUITEM SZ_UNDO, MI_EDITUNDO
      MENUITEM SZ_REDO, MI_EDITREDO
      MENUITEM SEPARATOR
      MENUITEM SZ_CUT, MI_EDITCUT
      MENUITEM SZ_COPY, MI_EDITCOPY
      MENUITEM SZ_PASTE, MI_EDITPASTE
      }
   SUBMENU SZ_HELP, MI_HELP
      {
      MENUITEM SZ_HLPIDX, MI_HELPIDX
      MENUITEM SZ_HLPGEN, MI_HELPGEN, MIS_HELP
      MENUITEM SZ_HLPUSE, MI_HELPUSE
      MENUITEM SZ_HLPKEYS, MI_HELPKEYS
      MENUITEM  SEPARATOR
      MENUITEM SZ_HLPPRODINFO, MI_HELPPRODINFO
      }
   }

ACCELTABLE ID_SPLITTEST LOADONCALL MOVEABLE DISCARDABLE
   {
   "N", MI_FILENEW, CHAR, CONTROL
   "n", MI_FILENEW, CHAR, CONTROL
   "O", MI_FILEOPEN, CHAR, CONTROL
   "o", MI_FILEOPEN, CHAR, CONTROL
   "S", MI_FILESAVE, CHAR, CONTROL
   "s", MI_FILESAVE, CHAR, CONTROL
   VK_F3, SC_CLOSE, VIRTUALKEY, SYSCOMMAND, LONEKEY
   VK_BACKSPACE, MI_EDITUNDO, VIRTUALKEY, ALT
   VK_BACKSPACE, MI_EDITREDO, VIRTUALKEY, ALT, SHIFT
   }

/*
HELPTABLE ID_SPLITTEST
   {
   HELPITEM ID_SPLITTEST, ID_SPLITTEST, 1
   }

HELPSUBTABLE ID_SPLITTEST
   {
   }
*/

RCINCLUDE "main.dlg"
