#include "main.h"

ICON ID_MAINRES main.ico

RCINCLUDE "main.dlg"
RCINCLUDE "splitter.dlg"
RCINCLUDE "splitpane.dlg"
RCINCLUDE "ctldata.dlg"
RCINCLUDE "prodinfo.dlg"

MENU ID_MAINRES
{
   SUBMENU SZ_FILE, MI_FILE
   {
      MENUITEM SZ_EXIT, SC_CLOSE, MIS_SYSCOMMAND
   }
   SUBMENU SZ_OPTIONS, MI_OPTIONS
   {
      MENUITEM SZ_SPLITPANE1, MI_SPLITPANE1
      MENUITEM SZ_SPLITPANE2, MI_SPLITPANE2
      MENUITEM SEPARATOR
      MENUITEM SZ_SPLITTER1, MI_SPLITTER1
      MENUITEM SZ_SPLITTER2, MI_SPLITTER2
      MENUITEM SEPARATOR
      MENUITEM SZ_CTLDATA1, MI_CTLDATA1
      MENUITEM SZ_CTLDATA2, MI_CTLDATA2
   }
   SUBMENU SZ_HELP, MI_HELP
   {
      MENUITEM SZ_HELPGENERAL, MI_HELPGENERAL
      MENUITEM SEPARATOR
      MENUITEM SZ_PRODINFO, MI_HELPPRODINFO
   }
}
